PORT=4000
NODE_ENV=production
TRUST_PROXY=1
FRONTEND_URL=https://folderly.duckdns.org
SESSION_SECRET=
SESSION_COOKIE_SAMESITE=lax
REDIS_URL=redis://redis:6379
DATABASE_URL=mongodb://folderly-mongodb:27017/folderly
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://folderly.duckdns.org/api/auth/google/callback
MAILTRAP_TOKEN=
MAILTRAP_SENDER_ADDRESS=
MAILTRAP_SENDER_NAME=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
FORCED_OTP_CODE=

